# Supabase Configuration
VITE_SUPABASE_URL=https://tbvjpjoqlsinlkoopnwg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRidmpwam9xbHNpbmxrb29wbndnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEyMDU0MTcsImV4cCI6MjA2Njc4MTQxN30.DKCEuwT_8u5-LasNJQX0vRmlASwYe1TPwHkbbt60hmA

# Admin Configuration
ADMIN_EMAIL=gerandimatraku@outlook.com